{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ resource.website_name }}
{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
  <form method="POST" action="{% url 'academics-page' %}">
    {% csrf_token %}
    <button type="submit">Back to Academics</button>
  </form>

  {% if resource %}
    <h1>{{ resource.website_name }}</h1>
    <p>{{ resource.description }}</p>
    <p><a href="{{resource.website_link}}" style="color: blue">{{ resource.website_link }}</a></p>
  {% else %}
    <p>{{ error_message }}</p>
  {% endif %}

  {% if is_starred %}
    <form method="POST" action="{% url 'unstar-academic' resource.academics_id %}">
      {% csrf_token %}
      <button type="submit">Unstar</button>
    </form>    
  {% else %}
    <form method="POST" action="{% url 'star-academic' resource.academics_id %}">
      {% csrf_token %}
      <button type="submit">Star</button>
    </form>
  {% endif %}

  </br>

  <h3>Comments</h3>
  <form method="POST" action="{% url 'academics-leave-comment' resource.academics_id %}">
    {% csrf_token %}
    <button type="submit">Leave a comment</button>
  </form>
    {% if comments %}
      <ul>
        {% for comment in comments %}
          <p>{{ comment.content }}</p>
        {% endfor %}
      </ul>
    {% else %}
      <p>No comments to show</p>
    {% endif %}
{% endblock %}