{% extends "base.html" %}
{% load static %}

{% block title %}
  Academics
{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
  <form method="POST" action="{% url 'landing-page' %}">
    {% csrf_token %}
    <button type="submit">Back to Categories</button>
  </form>

  <h1>Academics</h1>
  <p>Links to academic resources</p>

  {% if sort_type == "popularity" %}
    <form method="POST" action="{% url 'academics-page' %}">
      {% csrf_token %}
      <button type="submit">Show all</button>
    </form>
  {% else %}
    <form method="POST" action="{% url 'academics-by-popularity' %}">
      {% csrf_token %}
      <button type="submit">Show most popular</button>
    </form>
  {% endif %}

  {% for entry in entries %}
    <div>
      <h2>
        <a href="{% url 'academics-detail-page' entry.academics_id %}" style="text-decoration: none; color: black">{{entry.website_name|title}}</a>
        {% if sort_type == "popularity" %}
          <h4>{{entry.NumComments}} comments</h4>
        {% endif %}
      </h2>
    </div> 
  {% endfor%}

{% endblock %}