{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ resource.dorm_unit_name }}
{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
  <h1>{{ resource.dorm_unit_name }}</h1>
  <p>{{ resource.description }}</p>
  <p>Address: {{ resource.address }}</p>
  <p>
    {% if resource.phone %}
      Call them at {{ resource.phone }}
    {% else %}
      There is no available phone number for this building.
    {% endif %}
  </p>
  <p>
    {% if resource.email %}
      Get in touch with them at <a href="mailto:{{resource.email}}" style="color: blue">{{ resource.email }}</a>
    {% else %}
      There is no available email for this building.
    {% endif %}
  </p>
  <p>
    {% if resource.website_link %}
      Visit them at <a href="{{resource.website_link}}" style="color: blue">{{ resource.website_link }}</a>
    {% else %}
      This building does not have a website.
    {% endif %}
  </p>
{% endblock %}