{% extends "base.html" %}
{% load static %}

{% block title %}
  On Campus Housing
{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
  <form method="POST" action="{% url 'landing-page' %}">
    {% csrf_token %}
    <button type="submit">Back to Categories</button>
  </form>

  <h1>On Campus Housing</h1>
  <p>Links to on campus housing options</p>

  {% for entry in entries %}
    <div>
      <h2><a href="{% url 'on-campus-housing-detail-page' entry.on_campus_housing_id %}" style="text-decoration: none; color: black">{{entry.dorm_unit_name|title}}</a></h2>
    </div> 
  {% endfor%}

{% endblock %}