{% extends "base.html" %}
{% load static %}

{% block title %}
  Registered Student Organizations
{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
  <form method="POST" action="{% url 'landing-page' %}">
    {% csrf_token %}
    <button type="submit">Back to Categories</button>
  </form>

  <h1>Registered Student Organizations (RSOs)</h1>
  <p>Links to RSOs</p>

  {% if sort_type == "popularity" %}
  <form method="POST" action="{% url 'registered-student-organizations-page' %}">
    {% csrf_token %}
    <button type="submit">Show all</button>
  </form>
{% else %}
  <form method="POST" action="{% url 'registered-student-organizations-by-popularity' %}">
    {% csrf_token %}
    <button type="submit">Show most popular</button>
  </form>
{% endif %}

{% for entry in entries %}
  <div>
    <h2><a href="{% url 'registered-student-organizations-detail-page' entry.rso_id %}" style="text-decoration: none; color: black">{{entry.rso_name|title}}</a></h2>
    {% if sort_type == "popularity" %}
      <h4>{{entry.NumComments}} comments</h4>
    {% endif %}
  </div> 
{% endfor%}

{% endblock %}