{% extends "base.html" %}
{% load static %}

{% block title %}
  Restaurants
{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
  <form method="POST" action="{% url 'landing-page' %}">
    {% csrf_token %}
    <button type="submit">Back to Categories</button>
  </form>

  <h1>Restaurants</h1>
  <p>Links to local area restaurants</p>

  {% for entry in entries %}
    <div>
      <h2><a href="{% url 'restaurant-detail-page' entry.restaurant_id %}" style="text-decoration: none; color: black">{{entry.restaurant_name|title}}</a></h2>
    </div> 
  {% endfor%}

{% endblock %}