{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ resource.restaurant_name }}
{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
  <form method="POST" action="{% url 'restaurants-page' %}">
    {% csrf_token %}
    <button type="submit">Back to Restaurants</button>
  </form>

  <h1>{{ resource.restaurant_name }}</h1>
  <p>Cuisine: {{ resource.cuisine }}</p>
  <p>Address: {{ resource.address }}</p>
  <p>
    {% if resource.phone %}
      Call them at {{ resource.phone }}
    {% else %}
      There is no available phone number for this restaurant.
    {% endif %}
  </p>
  <p>
    {% if resource.website_link %}
      Visit them at <a href="{{resource.website_link}}" style="color: blue">{{ resource.website_link }}</a>
    {% else %}
      This restaurant does not have a website.
    {% endif %}
  </p>

  {% if is_starred %}
    <form method="POST" action="{% url 'unstar-restaurant' resource.restaurant_id %}">
      {% csrf_token %}
      <button type="submit">Unstar</button>
    </form>
  {% else %}
    <form method="POST" action="{% url 'star-restaurant' resource.restaurant_id %}">
      {% csrf_token %}
      <button type="submit">Star</button>
    </form>
  {% endif %}

  </br>

  <h3>Comments</h3>
  <form method="POST" action="{% url 'restaurant-leave-comment' resource.restaurant_id %}">
    {% csrf_token %}
    <button type="submit">Leave a comment</button>
  </form>
    {% if comments %}
      <ul>
        {% for comment in comments %}
          <p>{{ comment.content }}</p>
        {% endfor %}
      </ul>
    {% else %}
      <p>No comments to show</p>
    {% endif %}

{% endblock %}