{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ resource.restaurant_name }}
{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
  <h1>{{ resource.restaurant_name }}</h1>
  <p>Cuisine: {{ resource.cuisine }}</p>
  <p>Address: {{ resource.address }}</p>
  <p>
    {% if resource.phone %}
      Call them at {{ resource.phone }}
    {% else %}
      There is no available phone number for this restaurant.
    {% endif %}
  </p>
  <p>
    {% if resource.website_link %}
      Visit them at <a href="{{resource.website_link}}">{{ resource.website_link }}</a>
    {% else %}
      This restaurant does not have a website.
    {% endif %}
  </p>
{% endblock %}