{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ resource.organization_name }}
{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
  <form method="POST" action="{% url 'school-social-media-page' %}">
    {% csrf_token %}
    <button type="submit">Back to School Social Media</button>
  </form>

  <h1>{{ resource.organization_name }}</h1>
  {% for social in socials %}
    {% if social %}
      <p>
        <a href="{{ social }}" style="color: blue">{{ social }}</a>
      </p>
    {% endif %}
  {% endfor %}

  {% if is_starred %}
    <form method="POST" action="{% url 'unstar-ssm' resource.ssm_id %}">
      {% csrf_token %}
      <button type="submit">Unstar</button>
    </form>
  {% else %}
    <form method="POST" action="{% url 'star-ssm' resource.ssm_id %}">
      {% csrf_token %}
      <button type="submit">Star</button>
    </form>
  {% endif %}
{% endblock %}