{% extends "base.html" %}
{% load static %}

{% block title %}
  School Social Media
{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
  <form method="POST" action="{% url 'landing-page' %}">
    {% csrf_token %}
    <button type="submit">Back to Categories</button>
  </form>

  <h1>School Social Media</h1>
  <p>Links to school social media accounts</p>

   {% if sort_type == "popularity" %}
    <form method="POST" action="{% url 'school-social-media-page' %}">
      {% csrf_token %}
      <button type="submit">Show all</button>
    </form>
  {% else %}
    <form method="POST" action="{% url 'school-social-media-by-popularity' %}">
      {% csrf_token %}
      <button type="submit">Show most popular</button>
    </form>
  {% endif %}

  {% for entry in entries %}
    <div>
      <h2><a href="{% url 'school-social-media-detail-page' entry.ssm_id %}" style="text-decoration: none; color: black">{{entry.organization_name|title}}</a></h2>
      {% if sort_type == "popularity" %}
        <h4>{{entry.NumComments}} comments</h4>
      {% endif %}
    </div> 
  {% endfor%}

{% endblock %}