{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ resource.organization_name }}
{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
  <h1>{{ resource.organization_name }}</h1>
  {% for social in socials %}
    {% if social %}
      <p>
        <a href="{{ social }}" style="color: blue">{{ social }}</a>
      </p>
    {% endif %}
  {% endfor %}

  {% if is_starred %}
    <button style='pointer-events: none; opacity: 0.5'>Starred</button>
  {% else %}
    <form method="POST" action="{% url 'star-ssm' resource.ssm_id %}">
      {% csrf_token %}
      <button type="submit">Star</button>
    </form>
  {% endif %}
{% endblock %}