{% extends "base.html" %}
{% load static %}
{% load dehyphenate %}

{% block title %}
  StuCU
{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
  <form method="POST" action="{% url 'landing-page' %}">
    {% csrf_token %}
    <button type="submit">Back to Categories</button>
  </form>

  </br></br>

  <h2>Display Name: "{{ display_name }}"</h2>
  
  <h2>Username: {{ username }}</h2>

  </br>
  <h3>My Starred Items</h3>
  {% if starred %}
    <ul>
      {% for star in starred %}
        {% if star.Description %}
          <p><strong>{{ star.Name }}: </strong>{{ star.Description }}</p>
        {% else %}
          <p><strong>{{ star.Name }}</strong></p>
        {% endif %}
        <form method="POST" action="{% url 'unstar-from-profile' star.Category star.ID %}">
          {% csrf_token %}
          <button type="submit">Unstar</button>
        </form>
        </br></br>
      {% endfor %}
    </ul>
  {% else %}
    <p>You have not starred any times</p>
  {% endif %}
{% endblock %}